<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="4.2.0" targetFramework="net48" />
  <package id="ImageProcessing.Microkernel.DIAdapter" version="1.0.2" targetFramework="net48" />
  <package id="ImageProcessing.Microkernel.EntryPoint" version="1.0.2" targetFramework="net48" />
  <package id="ImageProcessing.Microkernel.MVP" version="1.0.2" targetFramework="net48" />
  <package id="LightInject" version="6.3.2" targetFramework="net48" />
  <package id="Ninject" version="3.3.4" targetFramework="net48" />
  <package id="Ninject.Extensions.Factory" version="3.3.2" targetFramework="net48" />
  <package id="Ninject.Extensions.NamedScope" version="3.3.0" targetFramework="net48" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net48" />
</packages>